[
    {
        "name": "listener_port",
        "value": "{{ listener_port }}"
    },
    {
        "name": "database_size",
        "value": "{{ database_size }}"
    },
    {
        "name": "auto_tune_staging_drive",
        "value": "false"
    },
    {
        "name": "allocate_pg_hugepage",
        "value": "false"
    },
    {
        "name": "cluster_database",
        "value": "false"
    },
    {
        "name": "enable_peer_auth",
        "value": "false"
    },
    {
        "name": "ensure_vm_host_distribution",
        "value": "false"
    },
    {
        "name": "dbserver_description",
        "value": "{{ dbserver_description }}"
    },
    {
        "name": "database_names",
        "value": "{{ database_names }}"
    },
    {
        "name": "db_password",
        "value": "{{ db_password }}"
    },
    {
        "name": "pre_create_script",
        "value": ""
    },
    {
        "name": "post_create_script",
        "value": "MY_IP=$(ip addr show eth0 | grep 'inet ' | awk '{print $2}' | cut -d/ -f1); curl --location --request POST '{{ middleware_protocol }}://{{ middleware_url }}:{{ middleware_port }}/api/jira/transition/ndb?cardId={{ card_id }}&vmUsername=era&dbUsername=postgres&port={{ listener_port }}&ip=${MY_IP}' --header 'Content-Type: application/json'"
    }
]
