[
    {
        "name": "listener_port",
        "value": "{{ listener_port }}"
    },
    {
        "name": "database_size",
        "value": "{{ database_size }}"
    },
    {
        "name": "auto_tune_staging_drive",
        "value": "false"
    },
    {
        "name": "allocate_pg_hugepage",
        "value": "false"
    },
    {
        "name": "cluster_database",
        "value": "false"
    },
    {
        "name": "enable_peer_auth",
        "value": "false"
    },
    {
        "name": "ensure_vm_host_distribution",
        "value": "false"
    },
    {
        "name": "dbserver_description",
        "value": "{{ dbserver_description }}"
    },
    {
        "name": "database_names",
        "value": "{{ database_names }}"
    },
    {
        "name": "db_password",
        "value": "{{ db_password }}"
    }
]